.headerDiv{
    padding-top: 1pc;
    position: absolute;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 2pc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.webTitle{
    font-family: Lobster;
    padding: 1pc;
}