html,
body{
    margin: 0;
    height: 100%;
    background-color: #424242;
    color: antiquewhite;
}

#menubar{
    background-color: #1d1d1d;
    display: inline-block;
}

#menu ,.menu_option{
    list-style: none;
}

#menu > *{
    display: inline;
}

.menu_item{
    width:20px;
    visibility: hidden;
    list-style: none;
}

#editor{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
}

@media screen and (orientation: portrait) {
    #editor{
        flex-flow: column;
    }
}

#viewport-container{
    flex-grow: 2;
    height: 100%;
    resize: horizontal;
    overflow: auto;
}

#webgl{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #3a3a3a;
    outline: none;
}

#sidepane{
    flex-grow: 1;
    margin:0%;
}